$blue: #5847eb;

$lightredWork: #ff8b64; //(work):
$softblue: #55c2e6; //(play):
$lightredStudy: #ff5e7d; //(study):
$limegreen: #4bcf82; //(exercise):
$violet: #7335d2; //(social):
$softorange: #f1c75b; //(self care):

$verydarkBlue: #0e1323;
$darkblue: #1c1f4a;
$desaturatedBlue: #6f76c8;
$paleblue: #bdc1ff;
