@use 'pxToRem' as *;
@use 'color' as *;

.user {
  background: $darkblue;
  min-height: rem(203);
  padding-bottom: rem(25);

  &__info {
    background-color: $blue;
    min-height: rem(133);
  }
  &__image {
    width: rem(70);
    height: rem(70);
    border: 3px solid #ffffff;
    border-radius: 50%;
    margin: 0 rem(18) 0 rem(29);
  }
  &__name p:first-of-type {
    font-weight: 400;
    font-size: rem(15);
    line-height: rem(23);
    color: $paleblue;
    & + p {
      font-weight: 300;
      font-size: rem(24);
      line-height: rem(32);
      color: #fff;
    }
  }

  &__cta {
    font-size: rem(18);
    line-height: rem(21);
    color: $desaturatedBlue;
    cursor: pointer;
    &:hover {
      color: #fff;
    }

    &:nth-child(1) {
      margin-left: rem(34);
    }
    &:nth-child(2) {
      margin-left: rem(56);
    }
    &:nth-child(3) {
      margin-left: rem(42);
    }
  }
}
