@use 'color' as *;

.flex {
  display: flex;

  &-f-d-col {
    flex-direction: column;
  }
  &-j-c-sb {
    justify-content: space-between;
  }
  &-a-i-c {
    align-items: center;
  }
}

.work-bg {
  background: $lightredWork url(../../images/icon-work.svg) no-repeat right 7% top -13%;
}
.play-bg {
  background: #55c2e6 url(../../images/icon-play.svg) no-repeat right 8.5% top -6%;
}
.study-bg {
  background: $lightredStudy url(../../images/icon-study.svg) no-repeat right 7% top -9%;
}
.exercise-bg {
  background: $limegreen url(../../images/icon-exercise.svg) no-repeat right 7% top -1%;
}
.social-bg {
  background: $violet url(../../images/icon-social.svg) no-repeat right 5% top -25%;
}
.selfcare-bg {
  background: $softorange url(../../images/icon-self-care.svg) no-repeat right 5.6% top -12%;
}
